* {
    font-family: 'Varela Round', sans-serif;
    margin : 0px;
}
.page {
    display : grid;
    grid-template-rows: 1fr minmax(2rem,5rem);
    grid-template-columns: 1fr 1fr;
    width : 100%;
    height : 100vh;
    background-color : lightgrey;
}

/* Right Side of the Login Page  */
.left {
    grid-row : 1 / 2;
    grid-column: 1 / 2;
    background-color: black;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amazon-text {
    font-size : 3rem;
    /* transform: translate(10%); */
}
.left i {
    font-size : 10rem;
    transform: translate(60%);
}
.left ul {  
    padding : 0px;
    font-size: 1.5rem;
    list-style-type: none;

}
.left li {
    vertical-align: middle;
    text-align: baseline;
}
/* End of left side of the Login Page  */

/* Right Side of the Login Page  */
.sign-in .sign-up {
    display: flex;
}
.right {
    margin : 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row : 1 / 2;
    grid-column: 2 / -1;
}
.right form {
    height : 35rem;
    border : 1px solid grey;
    border-radius: .7rem;
    box-shadow: 5px 5px rgba(0,0,0,0.75);
    padding : 3rem 3rem 3rem 3.5rem;
}
.right i {
    font-size : 3.5rem;
    margin-right: 1rem;
}
.right h2 {
    font-size: 3.65rem;
    display: inline;
}
.input-box1 {
    position: relative;
    top : 2.5rem;
}
.input-box2 {
    position: relative;
    top : 4rem;
}
.input-box {
    position: relative;
    top : 0.7rem;
} 
.right input {
    border-radius: 5px;
    width: 15rem;
    height : 1.3rem;
    background-color: white;
    outline: none;
    font-size: 0.8rem;
    border: 1px solid white;
    box-shadow: 3px 7px rgb(0,0,0,0.15) ;
}
.email-text {
    font-size: 1.5rem;
    position: relative;
    top : 1.7rem;
}
.signup-form-field {
    font-size: 1.5rem;
    position: relative;
    top : 1.7rem;
}
.password-text {
    font-size: 1.5rem;
    position: relative;
    top : 3.5rem;
}
.form-policy {
    margin-top : 2rem;
}
.form-policy a {
    text-decoration: none;
    color : blue;
    margin-left : 0.3rem;
}
.submit-button {
    border : 2px solid black;
    background-color: white;
    color : black;
    border-radius: 5px;
    padding : 0.3em 0.4em;
    font-size: 1.2rem;
    margin-top : 6rem;
}
.signup-submit-button {
    border : 2px solid black;
    background-color: white;
    color : black;
    border-radius: 5px;
    padding : 0.3em 0.4em;
    font-size: 1.2rem;
    margin-top : 2.3rem;
}
/* End of right Side of the Login Page  */

/* Footer for the login page */
.footer {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}
.footer ul {
    padding : 0px;
    list-style-type: none;
    display: flex;
}
.footer li {
    margin-right : 1rem;
}
/* End of footer for the login page */