{% extends 'products/base.html' %}


{% block content %}
      <h5>{{product.name}} :</h5>
      <h5>{{product.description}}</h5><br>
      <h4>{{product.vendor}}</h4><br>
      <a class = "btn btn-info btn-sm " href = "{% url 'homepage' %}">Back</a>
      {% if request.user.is_staff %}
      <a class = "btn btn-info btn-sm " href = "{% url 'delete-product' product.id %}">Delete</a>
      {% else %}
      <a class = "btn btn-info btn-sm " href = "#">Add To Cart</a>
      {% endif %}
{% endblock %}
